trunk/wind-platform/wind-app-controller/src/wind-app-cfg.dtd

<!ELEMENT app (bundle*, about)>
<!ATTLIST app name CDATA #REQUIRED>
<!ATTLIST app appId CDATA #REQUIRED>
<!ATTLIST app locale CDATA #IMPLIED> 
<!ELEMENT bundle (#PCDATA)>
<!ATTLIST bundle id CDATA #REQUIRED>
<!ATTLIST bundle path CDATA #REQUIRED>
<!ATTLIST bundle locale CDATA #REQUIRED>
<!ELEMENT about (description, licence, copyright)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT licence (#PCDATA)>
<!ELEMENT copyright (#PCDATA)>

